<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>预约数据管理系统</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="../../css/templatemo_main.css">
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <div class="logo"><h1>预约数据管理系统</h1></div>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</div>
<div class="template-page-wrapper">
<div class="navbar-collapse collapse templatemo-sidebar">
    <ul class="templatemo-sidebar-menu">
        <li><a href="home.html"><i class="fa fa-home"></i>首页</a></li>
        <li class="sub open">
            <a href="javascript:;">
                <i class="fa fa-database"></i> 预约数据
                <div class="pull-right"><span class="caret"></span></div>
            </a>
            <ul class="templatemo-submenu">
                <li><a href="javascript:showTable()">预约列表</a></li>
                <li><a href="javascript:showAdd()">新增预约</a></li>
            </ul>
        </li>
        <li><a href="javascript:;" data-toggle="modal" data-target="#confirmModal"><i
                class="fa fa-sign-out"></i>退出登录</a>
        </li>
    </ul>
</div>

<div class="templatemo-content-wrapper">
<div id="table" class="templatemo-content">
    <h1>预约数据</h1>

    <div class="row margin-bottom-30">
        <div class="col-md-12">
            <ul class="nav nav-pills">
                <li class="active"><a href="#">总预约人数<span class="badge">42</span></a></li>
                <li><a href="#">大迈X5 1.5T<span class="badge">107</span></a></li>
                <li><a href="#">大迈X5 升级版<span class="badge">3</span></a></li>
                <li><a href="#">大迈X5 超值版<span class="badge">3</span></a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>电话</th>
                        <th>性别</th>
                        <th>预约车型</th>
                        <th>省市</th>
                        <th>经销商</th>
                        <th>来源</th>
                        <th>下单时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>@js</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>
                            a@company.com
                        </td>
                        <td><a href="#" class="btn btn-link">删除</a><a href="#" class="btn btn-link">修改</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>@js</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>
                            a@company.com
                        </td>
                        <td><a href="#" class="btn btn-link">删除</a><a href="#" class="btn btn-link">修改</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>@js</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>
                            a@company.com
                        </td>
                        <td><a href="#" class="btn btn-link">删除</a><a href="#" class="btn btn-link">修改</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>@js</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>
                            a@company.com
                        </td>
                        <td><a href="#" class="btn btn-link">删除</a><a href="#" class="btn btn-link">修改</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>@js</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>
                            a@company.com
                        </td>
                        <td><a href="#" class="btn btn-link">删除</a><a href="#" class="btn btn-link">修改</a></td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>John</td>
                        <td>Smith</td>
                        <td>@js</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>a@company.com</td>
                        <td>
                            a@company.com
                        </td>
                        <td><a href="#" class="btn btn-link">删除</a><a href="#" class="btn btn-link">修改</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <ul class="pagination pull-right">
                <li class="disabled"><a href="#">&laquo;</a></li>
                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">2 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">3 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">4 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">5 <span class="sr-only">(current)</span></a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="add" class="templatemo-content" style="display: none">
    <h1>新增预约</h1>

    <div class="row">
        <div class="col-md-12">
            <form role="form" id="templatemo-preferences-form" action="/front/order/add?channelId=1" method="post">
                <div class="col-md-12 margin-bottom-15">


                    <div class="col-md-3 margin-bottom-15 form-inline">
                        <label for="firstName" class="control-label">姓名</label>
                        <input type="text" class="form-control" id="firstName" name="userName" value=""
                               required="required">
                    </div>
                    <div class="col-md-3 margin-bottom-15">
                        <label>性别</label><br>
                        <label class="radio-inline">
                            <input type="radio" name="userSex" value="0" checked> 先生
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="userSex" value="1"> 女士
                        </label>
                    </div>

                    <div class="col-md-3 margin-bottom-15">
                        <label for="from" class="control-label">来源页</label>
                        <input type="text" class="form-control" id="from" value="">
                    </div>

                </div>

                <div class="col-md-12 margin-bottom-15 form-inline">
                    <div class="col-md-3 margin-bottom-15  form-inline">
                        <label for="phone" class="control-label">联系电话</label>
                        <input type="number" class="form-control" id="phone" name="userPhone" value=""
                               required="required">
                    </div>
                    <div class="col-md-2 margin-bottom-15 form-inline">
                        <label for="singleSelect">省</label>
                        <select class="form-control margin-bottom-15" id="singleSelect" name="provinceId">
                            <option >请选择</option>
                            <option value="1">X5 1.5T</option>
                            <option value="2"> X5 升级版</option>
                            <option value="3">X5 超值版</option>
                        </select>
                    </div>
                    <div class="col-md-2 margin-bottom-15 form-inline">
                        <label for="singleSelect">市</label>
                        <select class="form-control margin-bottom-15" id="singleSelect" name="cityId">
                            <option value="1">X5 1.5T</option>
                            <option value="2"> X5 升级版</option>
                            <option value="3">X5 超值版</option>
                        </select>
                    </div>
                    <div class="col-md-2 margin-bottom-15 form-inline">
                        <label for="singleSelect">经销商</label>
                        <select class="form-control margin-bottom-15" id="singleSelect" name="carTypeId">
                            <option value="1">X5 1.5T</option>
                            <option value="2"> X5 升级版</option>
                            <option value="3">X5 超值版</option>
                        </select>
                    </div>
                    <div class="col-md-2 margin-bottom-15 form-inline">
                        <label for="singleSelect">预约车型</label>
                        <select class="form-control margin-bottom-15" id="singleSelect" name="carTypeId">
                            <option value="1">X5 1.5T</option>
                            <option value="2"> X5 升级版</option>
                            <option value="3">X5 超值版</option>
                        </select>
                    </div>
                </div>


                <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">提交</button>
                    <button type="reset" class="btn btn-default">重置</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">确定要退出吗？</h4>
            </div>
            <div class="modal-footer">
                <a href="sign-in.html" class="btn btn-primary">Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<footer class="templatemo-footer">
    <div class="templatemo-copyright">
        <p>Copyright &copy; 2084 Your Company Name Collect from <a href="http://www.cssmoban.com/" title="网页模板"
                                                                   target="_blank">网页模板</a> - More Templates <a
                href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></p>
    </div>
</footer>
</div>
</div>
<script src="../../js/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/templatemo_script.js"></script>
<script>
    function showTable() {
        $('#add').hide();
        $('#table').show();
    }
    function showAdd() {
        $('#table').hide();
        $('#add').show();
    }
    (function(){
        $.post('/front/order/listcar',function(data){
            console.log('data');
        })
    })();
</script>
</body>
</html>